/* AUTH PAGE MUST IGNORE ALL BOOTSTRAP */
.auth-wrapper {
  position: fixed;
  inset: 0; /* top, right, bottom, left = 0 */

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("https://images.unsplash.com/photo-1498050108023-c5249f4df085")
      center / cover no-repeat;

  z-index: 9999;
}

/* AUTH CARD */
.auth-card {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 35px;
  border-radius: 10px;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

/* TITLE */
.auth-card h3 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

/* INPUTS */
.auth-card input,
.auth-card select {
  height: 45px;
}

/* BUTTON */
.auth-card button {
  height: 45px;
  font-size: 1rem;
}

/* FOOTER */
.auth-footer {
  text-align: center;
  margin-top: 15px;
}
